.logo {
  width: 7.25rem;
  border-radius: 15%;
}


nav {
  z-index: 2;
}

/*------ MENU LINKS -------*/
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav li a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  margin-top: 1.25rem;
  color: var(--primary-black) !important;
  border-top: 0.1875rem solid var(--primary-black);
}

.navbar-nav li a.active,
.navbar-nav li a.active:focus {
  border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav li a:hover {
  border-top: 0.1875rem solid var(--primary-blue);
}

@media (max-width: 768px) {
  .logo {
    width: 13rem;
  }
}
